@font-face {
    font-family: "Proxima Nova";
    src: url('./Assets/fonts/proximanova-light.woff2');
    font-weight: 100;
}

@font-face {
    font-family: "Proxima Nova";
    src: url('./Assets/fonts/proximanova-regular.woff2');
    font-weight: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url('./Assets/fonts/proximanova-semibold.woff2');
    font-weight: 500;
}

html, body {
    font-family: "Proxima Nova";
}

* {
    margin: 0;
    padding: 0;
}